

main{
    display: flex;
    justify-content: center;
}

#sobre{
    max-width: 800px;
    padding: 0 50px 30px 50px;
    border-radius: 0 0 12px 12px;
    background-color: rgb(218, 255, 218);
    border: 1px solid rgba(0, 54, 0, 0.382);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: min-content;
}

#sobre h1, #sobre h2{
    text-align: center;
}

#sobre h2{
    font-size: .8em;
}

#sobre p{
    text-indent: 50px;
    font-size: 1.1em;
}

#sobre p, #sobre h1, #sobre h2{
    margin: 20px 0;
}